.main-header {
  height: 80px;
  width: 100%;
  background: #4fc186;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  position: relative;
  z-index: 9999;
}
.header-logo {
  margin: 15px;
  margin-left: 50px;
}
.header-links ul {
  display: flex;
  margin: 15px;
  flex-direction: row;
  margin-left: 30px;
}
.header-links ul li {
  list-style: none;
  margin-top: 20px;
  font-size: 20px;
  margin-left: 40px;
  cursor: pointer;
  flex-wrap: wrap;
}
.header-buttons {
  margin: 25px;
  margin-left: 80px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.header-buttons input {
  height: 30px;
  margin-left: 20px;
  font-size: 20px;
  border-color: aquamarine;
  border-radius: 15%;
}
.header-buttons button {
  margin-left: 90px;
  cursor: pointer;
  height: 40px;
  color: blueviolet;
  border-radius: 30%;
  font-size: 20px;
}
